@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@keyframes blink-effect {50% {opacity: 0;}}
.blink {
    animation: blink-effect 1s step-end infinite;
         /* 
        animation-name: blink-effect; 
        animation-duration: 1s; 
        animation-iteration-count:infinite; 
        animation-timing-function:step-end; 
    */ 
    display: inline;
    }
body {background: url("배경.png")}
#상단 {
    display:grid;
    grid-template-columns: 400px 1fr;
    text-align: center;
    margin: 20px;
    margin-top: 10px;
    ;
}
#홈피제목 {
    font-size: 15px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: rgba(41, 166, 238, 0.91);
    border-radius: 20px / 20px;
    border:5px solid rgb(83, 82, 82);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif , cursive;
    font-size: 100%;
    border-right: hidden;
}
#배너 {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color:rgba(41, 166, 238, 0.91);
    border-radius: 20px / 20px;
    border:5px solid rgb(83, 82, 82);
    border-left:0.2px solid rgb(64, 64, 237);
}
a {
    text-decoration: none;
    color:black;
}
li {
    border-style: outset;
    display: inline;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif , cursive;
}
#본문 {
    border:5px groove gray;
    width: 92%;
    border-radius: 20px / 20px;
    margin:auto;
    margin-bottom: 20px;
    background-color: whitesmoke;
}
#소개란 {
    background-color: aliceblue;
    border-radius: 20px / 20px;
    margin: 10px;
} 
h2 {
    background-color: aliceblue;
    border-radius: 20px / 20px;
    margin:auto;
    border:5px solid;
    border-color: gray;
    width: 470px;
    height: 100px;
    margin-bottom: 30px;
    margin-top: 30px;
} 
